<tr>
  <td><%= response[:stats][:bounce_drops] %></td>
  <td><%= response[:stats][:bounces] %></td>
  <td><%= response[:stats][:unique_clicks] %></td>
  <td><%= response[:stats][:delivered] %></td>
  <td><%= response[:stats][:invalid_emails] %></td>
  <td><%= response[:stats][:opens] %></td>
  <td><%= response[:stats][:unique_opens] %></td>
  <td><%= response[:stats][:requests] %></td>
  <td><%= response[:stats][:spam_report_drops] %></td>
  <td><%= response[:stats][:spam_reports] %></td>
  <td><%= response[:stats][:unsubscribes] %></td>
</tr>