<tr>
  <td><%= response[:date] %></td>
  <td><%= response[:stats].first[:metrics][:blocks] %></td>
  <td><%= response[:stats].first[:metrics][:bounce_drops] %></td>
  <td><%= response[:stats].first[:metrics][:bounces] %></td>
  <td><%= response[:stats].first[:metrics][:clicks] %></td>
  <td><%= response[:stats].first[:metrics][:deferred] %></td>
  <td><%= response[:stats].first[:metrics][:delivered] %></td>
  <td><%= response[:stats].first[:metrics][:invalid_emails] %></td>
  <td><%= response[:stats].first[:metrics][:opens] %></td>
  <td><%= response[:stats].first[:metrics][:processed] %></td>
  <td><%= response[:stats].first[:metrics][:requests] %></td>
  <td><%= response[:stats].first[:metrics][:spam_report_drops] %></td>
  <td><%= response[:stats].first[:metrics][:spam_reports] %></td>
  <td><%= response[:stats].first[:metrics][:unique_clicks] %></td>
  <td><%= response[:stats].first[:metrics][:unique_opens] %></td>
  <td><%= response[:stats].first[:metrics][:unsubscribe_drops] %></td>
  <td><%= response[:stats].first[:metrics][:unsubscribes] %></td>
</tr>