<!DOCTYPE html>
<html>
  <head>
    <title>AnalyticsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path, class: '' %>
    <%= link_to 'Sendgrid', analytics_sendgrid_single_sends_path, class: '' %>
    <%= yield %>
  </body>
</html>
